@inject HttpClient _client

<EditForm Model="@consultation" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <BackToList Target="consultations" />
    <br /><br />
    <fieldset disabled ="@Disabled">

        <div class="form-group">
            <label>Doctor Name: </label>
            <div>
                <InputSelect @bind-Value="consultation.StaffId" class="form-control">
                    <option value="">-- Select Doctor --</option>
                    @if (Staffs != null)
                    {
                        foreach (var staff in Staffs)
                        {
                            <option value="@staff.Id">@staff.FirstName @staff.LastName</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => consultation.StaffId)" />
            </div>
        </div>

        <div class="form-group">
            <label>Appointment: </label>
            <div>
                <InputSelect @bind-Value="consultation.AppointmentId" class="form-control">
                    <option value="">-- Select Appointment --</option>
                    @if (Appointments != null)
                    {
                        foreach (var appointment in Appointments)
                        {
                            <option value="@appointment.Id"> Patient: @appointment.Patient.FirstName @appointment.Patient.LastName | Date: @appointment.Date.ToString("dd/MM/yyyy") | Time: @appointment.Time.ToString("hh:mm tt")</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="@(() => consultation.AppointmentId)" />
            </div>
        </div>

        <div class="form-group">
            <label>Start Time: </label>
            <div>
                <InputDate Type="InputDateType.Time" @bind-Value="@consultation.stTime" class="form-control" />
                <ValidationMessage For="@(() => consultation.stTime)" />
            </div>
        </div>

        <div class="form-group">
            <label>End Time: </label>
            <div>
                <InputDate Type="InputDateType.Time" @bind-Value="@consultation.endTime" class="form-control" />
                <ValidationMessage For="@(() => consultation.endTime)" />
            </div>
        </div>

        <div class="form-group">
            <label>Consultation Description: </label>
            <div>
                <InputText @bind-Value="@consultation.Description" class="form-control" />
                <ValidationMessage For="@(() => consultation.Description)" />
            </div>
        </div>

        <div class="form-group">
            <label>Consultation Fee: </label>
            <div>
                <InputNumber @bind-Value="@consultation.ConsultationFee" class="form-control" />
                <ValidationMessage For="@(() => consultation.ConsultationFee)" />
            </div>
        </div>
 
        <br/>
    </fieldset>

    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }
    

</EditForm>


@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Consultation consultation { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private IList<Staff>? Staffs;
    private IList<Appointment>? Appointments;
    private IList<Hospital>? Hospitals;

    protected async override Task OnInitializedAsync()
    {
        Staffs = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffsEndpoint}");
        Appointments = await _client.GetFromJsonAsync<List<Appointment>>($"{Endpoints.AppointmentsEndpoint}");
        Hospitals = await _client.GetFromJsonAsync<List<Hospital>>($"{Endpoints.HospitalsEndpoint}");
    }
}