@page "/consultations/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@implements IDisposable

<h3 class="card-title">Healthcare Consultations</h3>
<br />

<a href="/consultations/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Consultation
</a>
<br />
<br />

@if (Consultations == null)
{
    <div class="alert alert-info">Loading Consultations...</div>
}
else
{
    <table class="table table-responsive" id="consultationsTable">
        <thead>
            <tr>
                <th>Doctor Name</th>
                <th>Consultation Start time</th>
                <th>Consultation End time</th>
                <th>Consultation Description</th>
                <th>Consultation Fee (SGD)</th>
                <th>Actions</th>
                
                
            </tr>
        </thead>
        <tbody>
            @foreach (var consultation in Consultations)
            {   
                <tr>
                    <td>@consultation.Staff.FirstName @consultation.Staff.LastName</td>
                    <td>@consultation.stTime.ToString("hh:mm tt")</td>
                    <td>@consultation.endTime.ToString("hh:mm tt")</td>
                    <td>@consultation.Description</td>
                    <td>$@consultation.ConsultationFee</td>

                    <td>
                        <a href="/consultations/view/@consultation.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/consultations/edit/@consultation.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(consultation.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Consultation>? Consultations;
    private DateTime nullDT = new DateTime(1, 1, 1, 0, 0, 0);

    protected async override Task OnInitializedAsync()
    {
        Consultations = await _client.GetFromJsonAsync<List<Consultation>>($"{Endpoints.ConsultationsEndpoint}");
    }

    async Task Delete(int consultationId)
    {
        if (Consultations != null)
        {
            var consultation = Consultations.First(q => q.Id == consultationId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {consultation.Id}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.ConsultationsEndpoint}/{consultationId}");
                await OnInitializedAsync();
            }
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#consultationsTable");
    }

    public void Dispose()
    {
        js.InvokeVoidAsync("DataTableDispose", "#consultationsTable");
    }
}