@inject HttpClient _client

<EditForm Model="@patient" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <fieldset disabled = "@Disabled">
        <div class="form-group">
            <label>First Name: </label> 
            <div>
                <InputText @bind-Value="@patient.FirstName" class="form-control" />
                <ValidationMessage For="@(() => patient.FirstName)" />
            </div>
        </div>

        <div class="form-group">
            <label>Last Name: </label>
            <div>
                <InputText @bind-Value="@patient.LastName" class="form-control" />
                <ValidationMessage For="@(() => patient.LastName)" />
            </div>
        </div>

        <div class="form-group">
            <label>Contact Number: </label>
            <div>
                <InputNumber @bind-Value="@patient.ContactNo" class="form-control" />
                <ValidationMessage For="@(() => patient.ContactNo)" />
            </div>
        </div>

        <div class="form-group">
            <label>Email Address: </label>
            <div>
                <InputText @bind-Value="@patient.EmailAddress" class="form-control" />
                <ValidationMessage For="@(() => patient.EmailAddress)" />
            </div>
        </div>

        <div class="form-group">
            <label>Password: </label>
            <div>
                <InputText @bind-Value="@patient.Password" class="form-control" />
                <ValidationMessage For="@(() => patient.Password)" />
            </div>
        </div>

        <div class="form-group">
            <label>Date Joined: </label>
            <div>
                <InputDate @bind-Value="@patient.DateYearJoined" class="form-control" />
                <ValidationMessage For="@(() => patient.DateYearJoined)" />
            </div>
        </div>

        <div class="form-group">
            <label>Date of Birth: </label>
            <div>
                <InputDate @bind-Value="@patient.DateOfBirth" class="form-control" />
                <ValidationMessage For="@(() => patient.DateOfBirth)" />
            </div>
        </div>


        <br />
        <br />
    </fieldset>>

    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }
    <BackToList Target="patients" />

</EditForm>


@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Patient patient { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}