@page "/patients/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@implements IDisposable

<h3 class="card-title">Healthcare Patients</h3>
<br />

<a href="/patients/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Patient
</a>
<br />
<br />

@if (Patients == null)
{
    <div class="alert alert-info">Loading Patients...</div>
}
else
{
    <table class="table table-responsive" id="patientsTable">
        <thead>
            <tr>
                <th>Fullname</th>
                <th>Username</th>
                <th>Contact No</th>
                <th>Email Address</th>
                <th>Gender</th>
                <th>Date of Birth</th>
                <th>Actions</th>
                
                
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Patients)
            {
                <tr>
                    <td>@patient.FirstName @patient.LastName</td>
                    <td>@patient.Username</td>
                    <td>@patient.ContactNo</td>
                    <td>@patient.EmailAddress</td>
                    <td>@patient.Gender</td>
                    <td>@patient.DateOfBirth.ToString("dd/MM/yyyy")</td>
                    

                    <td>
                        <a href="/patients/view/@patient.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/patients/edit/@patient.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(patient.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Patient>? Patients;
    private DateTime nullDT = new DateTime(1, 1, 1, 0, 0, 0);

    protected async override Task OnInitializedAsync()
    {
        Patients = await _client.GetFromJsonAsync<List<Patient>>($"{Endpoints.PatientsEndpoint}");
    }

    async Task Delete(int patientId)
    {
        if (Patients != null)
        {
            var patient = Patients.First(q => q.Id == patientId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {patient.FirstName}?");
            if (confirm)
            {
                await _client.DeleteAsync($"{Endpoints.PatientsEndpoint}/{patientId}");
                await OnInitializedAsync();
            }
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("AddDataTable", "#patientsTable");
    }

    public void Dispose()
    {
        js.InvokeVoidAsync("DataTableDispose", "#patientsTable");
    }
}